@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './mapa.css';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
